

*{

    font-family: arial;

    box-sizing: padding-box;

}

form {

    border-radius: 5px;

}

h2 {

    text-align: center;

    margin-bottom: 40px;
    color:black;

}

input {

    display: block;

    border: 2px solid #ccc;

    width: 95%;

    padding: 10px;

    margin: 10px auto;

    border-radius: 5px;

}



button {

    /* float: right;

    background: rgb(35, 174, 202);

    padding: 10px 15px;

    color: #fff;

    border-radius: 5px;

    margin-right: 10px;

    border: none;
    cursor: pointer; */

}

button:hover{

    /* opacity: .50; */

}

.error {

   background: #F2DEDE;

   color: #0c0101;

   padding: 10px;

   width: 95%;

   border-radius: 5px;

   margin: 20px auto;

}

h1 {

    text-align: center;

    color: black;

}

a {

    /* float: right;

    background: rgb(39, 110, 176);

    padding: 10px 15px;

    color: #fff;

    border-radius: 10px;

    margin-right: 10px;

    border: none;

    text-decoration: none; */

}

a:hover{

    /* opacity: .7; */

}

.login_container {
    display: table-cell;
    text-align: center;
    vertical-align: middle
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }